<!DOCTYPE html>
<html lang="en">
    <head>



        {{> head}} <!-- 这里使用了  -->

        <title>{{htmlWebpackPlugin.options.title}} - {{htmlWebpackPlugin.options.version}}</title>

        <!--遍历当前上下文对象的属性范例,本模板中可以直接使用如下几个对象
         {{#each this}}
        <span>Key: {{@key}} Value = {{this}}</span>
            {{/each}}
         -->

        <!-- assets 与webpack.config.js中的publicPath 相关 -->
        {{#each htmlWebpackPlugin.options.dllBundleInfo}}
            <script src="assets/../{{this.js}}"></script>
            <!--Key: {{@key}} Value = {{this.js}}-->
        {{/each}}

    </head>
    <body >

    <div id='app'>

        </div>
    </body>

</html>